{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<br>
								<br>
								<br>
								<br>
								<br>
								<h3 class="text-wh">Smart Fields</h3>
								<div class="w3l-copy text-center">
									<h5 style="color: #f0f0f0af;"><center>Cultivating Tomorrow's Agriculture Today</center></h5>
								</div>
				
								<!-- <h4 class="text-wh mx-auto my-4"><b>Get informed decisions about your farming strategy.</b></h4> -->
								<!-- <br> -->
								<!-- <h4 class="text-wh mx-auto my-4"><strong> Here are some questions we'll answer</strong></h4>
								<p class="text-li mx-auto mt-2">
									1. What crop to plant here? <br>
									2. What fertilizer to use? <br>
									3. Which disease do your crop have?<br>
									4. How to cure the disease?</p> -->
							</div>
						</div>
					</div>
				</div>
	</div>
	
</section>
<!-- //banner -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='images/about.jpg') }}" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4">Boosting Farming, Growing Opportunities, and Helping Farmers Thrive.</h3>
				<br>
				<p>We harness cutting-edge machine learning and deep learning technologies 
				to assist you at every step of your farming journey. Make well-informed choices by gaining insights 
				into your region's demographics, understanding the variables impacting your crops, and ensuring 
				their health for a bountiful and incredibly successful harvest.</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->

<!-- Products & Services -->
<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Services</h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				<img src="{{ url_for('static', filename='images/crop.jpg') }}" class="img-fluid" alt="" />
				<a href="{{ url_for('crop_recommend') }}">
					<div class="blog-info">

						<h4>Crop Recommendation</h4>

						<p class="mt-2"><b> Harvesting Success:</b> Empowering Farmers with Data-Driven Recommendations.</p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
				<img src="{{ url_for('static', filename='images/leftarrow (2).jpg') }}" class="img-fluid" alt="" />
				<br>
				<div>
					<img src="{{ url_for('static', filename='images/rightarrow.jpg') }}" class="img-fluid" alt="" />

				</div>

				<!-- <a href="{{ url_for('fertilizer_recommendation') }}">
					<div class="blog-info">
						<h4>Fertilizer Suggestion</h4>
						<p><b>Maximizing Yields:</b></p>
						<p class = "mt-2">Tailored Fertilizer Recommendations for Healthier Crops and a Greener Future</p>
							 
					</div>
				</a> -->
			</div>
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

				<img src="{{ url_for('static', filename='images/test.jpg') }}" class="img-fluid" alt="">

				<!-- <img src="images/s4.jpg" class="img-fliud" alt="" /> -->
				<a href="{{ url_for('disease_prediction') }}">
					<div class="blog-info">
						<h4>Crop Disease Prediction</h4>
						<p class="mt-2">Guardians of Green: Predicting Crop Diseases for a Sustainable and Resilient Agriculture</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- //Products & Services --> 


<!-- Creating custom grid and hover effect -->
<!-- <section>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="images/s2.jpg" alt="">
        <div class="overlay">
           <h2>Hover effect 1</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
</div> -->

</html>

{% endblock %}